.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  .fa
    padding-right 15px

.archive
  border-bottom 1px dotted color-border
  margin-bottom 10px
  &.category-archive
    border-bottom none
    margin-bottom 80px 
  .categories
    display inline-block
    font-size 14px
    &.category-summary
      font-size: 18px
  .tags
    display inline-block
    font-size 14px 
  article
    box-shadow none
    margin-bottom 10.5px
    margin-top 0px
    .post-content
      margin-bottom 0
    
    .title
      time
        float right
        font-weight normal
        font-size 18px
        color #aaa
        line-height 40px
