.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  .fa
    padding-right 15px

.archive
  border-bottom 1px solid color-border
  margin-bottom 10px
  article
    box-shadow none
    margin-bottom 10.5px
    margin-top 0px
    .post-content
      margin-bottom 0
    
    .title
      time
        float right
        font-weight normal
        font-size 18px
        color #aaa
        line-height 31px
